<h1>Update Article</h1>
<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :Title %><br>
    <%= form.text_field :title %>
  </div>

<div>
    <%= form.label :Discription %><br>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>