<h1>New News</h1>
<%= form_with model: @brodcast, url:brodcasts_path do |form| %>
  <div>
    <%= form.label :Title %><br>
    <%= form.text_field :title %>
  </div>

<div>
    <%= form.label :Discription %><br>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

      
      
      
      
