<h3>News</h3>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Discription</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
        <td><%= @news.id %></td>
        <td><%= @news.title %></td>
         <td><%= @news.description %></td> 
         <td><%= link_to 'Update', edit_newss_path(@news) %></td>
        <td><%= link_to "Delete", newss_path(@news), data:{method: :delete, confirm: "Are you Sure?"}%></td>   
</table>


<%= render partial: "comments/comments", locals: {commentable: @event} %>
<%= render partial: "comments/form", locals: {commentable: @event} %>
